:root {
    --main-color: #2196f3; 
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
/* start templete/ */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}
*::selection{
    background-color: black;
    color: yellow;
}
ul{
    list-style: none;
}
.contener{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
/* screen mudiam */
@media (max-width: 768px) {
    .contener {
        width: 100%;
    }
}
/* screen larg */
@media (min-width: 992px) {
    .contener {
        width: 970px;
    }
}
/* screen X larg */
@media (min-width: 1200px)  {
    .contener {
        width: 1170px;
    }
}
/* end templete/ */
/* start main title  */
.main-title{
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
/*end main title  */
/* start .landing  */
.landing{
    position: relative;
    left: 0;
    width: 100%;
    z-index: 2;
    min-height: 100vh;
    background-image: url("../img/01.jpg");
    background-size: cover;
}
.landing .contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.landing .contener::after{
    content:" ";
    position: absolute;
    height: 2px;
    background-color: #a2a2a2;
    bottom: 15px;
    width: calc(100% - 30px);
    left: 15px;
}
/*.landing .overlay {*/
/*    background-color: rgba(0, 0, 0, 0.61);*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: 1;*/
/*}  */
.landing .logo {
    z-index: 1;
}
.landing .logo img{
    height: 90px;
}
.landing nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.landing nav .mune{
    color: white;
    font-size: 22px;
    z-index: 1;
}
@media (min-width: 768px) {
    .landing nav .mune{
        display: none;
    }
}

.landing nav ul {
    display: flex;
}
@media (max-width: 767px) {
    .landing nav ul{
        display: none;
    }
    .landing nav .mune:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 70%);
        z-index: 3;
    }
    .landing nav  + ul li a{
        padding: 15px !important; 
    }
    .landing .logo img{
        margin-bottom: 10px;
    }
}
.landing nav ul li a{
    padding: 40px 10px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: var(--main-transition);
    position: relative;
    z-index: 2;
}
.landing nav ul li a.activ,
.landing nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color); 
}



    /* <!-- start form us  --> */
    .form{
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        z-index: 2;
    }
    .form .contener{
        position: relative;
        z-index: 2;
    }
    .form .introduction{
        text-align: center;
        z-index: 3;
    }
    .form .introduction img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .form .introduction h1 {
        font-size: 34px;
        margin: 0 0 12px;
        color: var(--main-color);
    }
    @media (max-width: 575px) {
        .landing-bage .introduction h1{
            font-size: 26px;
        }
    }
    .form h2{
        font-weight: bold;
        font-size: 30px;
        color: var(--main-color);
        margin: 0 0 60px;
        text-align: center;
    }
    .form form{
        overflow: hidden;
        max-width: 800px;
        margin: auto;

    }
    .form form .input{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    /* .form form .input label{
        color: var(--main-color);
        width: 50%;
        position: relative;
        top: -21px;
        margin: 10px;
        font-weight: bold;
    }
    @media (max-width: 767px) {
        .form form .input{
            display: block;
            text-align: center;
        }
    }
    .form form .left{
        float: left;
        width: 45%;
        position: relative;
    }
    .form form .right{
    float: right;
    width: 45%;
    }
    .form form .left::after{
        content: "";
        width: 2px;
        height: 250px;
        background-color: #a2a2a2;
        position: absolute;
        z-index: 3;
        left: 100%;
        top: 40%;
        transform: translate(-50% , -50%);
    }
    @media (max-width: 767px) {
        .form form .left,
        .form form .right{
            float: none;
            width: 100%;
        }
    } */
    .form form input:not([type="submit"]){
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
    border-radius: 15px;
    }
    .form form input:not([type="submit"]):focus{
        outline: 1px solid var(--main-color);
    }
    .form form input {
        height: 40px;
    }
    .form form input[type="submit"] {
        padding: 10px;
        width: 90%;
        border-color: transparent;
        background-color: var(--main-color);
        color: white;
        cursor: pointer;
        border-radius: 10px;
    }
    .form form input[type="submit"]:hover{
        box-shadow: 2px 9px 45px rgb(0, 81, 255);
        background-color: black;
        color: var(--main-color);
        transform: scale(1.1);
        transition: var(--main-transition);
    }
    .form form input:not([type="submit"]):focus::-webkit-input-placeholder {
        opacity: 0;
        transition: .3s;
    }
    .form form input:not([type="submit"]):focus::placeholder{
        opacity: 0;
        transition: .3s;
    }
    /* <!-- end form us  --> */

     /* <!-- start discount  --> */
    .discount{
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }
    .discount .map{
        color: white;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    .discount .map::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        
        z-index: -1;
    }
    .discount .map .h{
        text-align: center;
    }
    @media (max-width: 991px){
        .discount .map{
        flex-basis: 100%;
        }
    }
    .discount .form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
    }
    .discount .form .input{
        display: block;
        width: 100%;
        margin-bottom: 25px;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        caret-color: var(--main-color);
    }
    .discount .form textarea.input{
        resize: none;
        height: 200px;
    }
    .discount .form .input:focus{
        outline: none;
    }
    .discount .form [type="submit"]{
        display: block;
        color: white;
        width: 100%;
        padding: 10px;
        background-color: var(--main-color);
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: var(--main-transition);
    }
    .discount .form [type="submit"]:hover{
        box-shadow: 2px 9px 45px rgb(0, 81, 255);
        background-color: black;
        color: var(--main-color);
        transform: scale(1);
        transition: var(--main-transition);
    }
    .discount .content{
        text-align: center;
        padding: 0 20px;
    }
    .discount .content h2{
        font-size: 40px;
        letter-spacing: -2px;
    }
    .discount .form .content label{
        color: var(--main-color);
        font-weight: bold;
    }
    /* <!-- end discount  --> */
        /* <!-- start footer  --> */
        .footer{
            background-color: #191919;
            padding: 70px 0 0;
        }
        .footer .container{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 40px;
        }
        .footer .box h3{
            color: white;
            font-size: 50px;
            margin: 0 0 20px;
        }
        .footer .box .social{
            display: flex;
        }
        .footer .box .social li{
            margin-right: 10px;
        }
        .footer .box .social li a{
            background-color: #313131;
            color: #b9b9b9;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
            transition: var(--main-transition);
            border-radius: 5px;
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
            text-decoration: none;
    }
        .footer .box .social .facebook:hover{
            background-color: #1877f2;
            transform: scale(1.1);
        transition: .5s ease-out;
        }
        .footer .box .social .twitter:hover{
            background-color: #1da1f2;
            transform: scale(1.1);
        transition: .5s ease-out;
        }
        .footer .box .social .youtube:hover{
            background-color: #ff0000;
            transform: scale(1.1);
        transition: .5s ease-out;
        }
        .footer .box .text{
            line-height: 2;
            color: #b9b9b9;
        }
        .footer .box .links li{
            padding: 15px 0;
            transition: var(--main-transition);
        }
        .footer .box .links li:not(:last-child){
            border-bottom: 1px solid #444;
        }
        .footer .box .links li:hover{
            padding-left: 10px;
        }
        .footer .box .links li a{
            color: #b9b9b9;
            transition: var(--main-transition);
            text-decoration: none;
        }
        .footer .box .links li:hover a{
            color: white;
        }
        .footer .box .links li a::before{
            font-family: "Font Awesome 5 Free";
            content: "\F101";
            font-weight: 900;
            color: var(--main-color);
            margin-right: 10px;
        }
        .footer .box .line{
            display: flex;
            align-items: center;
            color: #b9b9b9;
            margin-bottom: 30px;
        }
        .footer .box .line i{
            font-size: 25px;
            color: var(--main-color);
            margin-right: 10px;
        }
        .footer .box .line .info{
            line-height: 1.7;
            flex: 1;
        }
        .footer .box .line .info span{
            display: block; 
        }
        .footer .footer-gallery img{
            width: 80px;
            border: 3px solid white;
            margin: 2px;
        }
        .copyright{
            padding: 25px 0;
            text-align: center;
            margin: 50px 0 0;
            color: white;
            border-top: 1px solid #444;
        }
        /* <!-- end footer  --> */